@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --blue: #010f18 ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}


body{
    background-color: white;
}
.top{
    background-image: url(img/bg2.jpg);
    backdrop-filter: blur(5px);
    border: none;
}
header{
    
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: white;

}
h4{
    font-size: 30px;
    padding-left: 10px;
    
}
li,a{
    
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 15px;
}

.nav_links li a{
    transition: all 0.3 ease 0s;
}
.nav_links li a:hover{
    color: var(--blue);
}
.btn1{
    background-color:#FFEA19;
    padding: 8px 28px;
    border-radius: 8px;
}
.banner{
    color: white;
}
.p1{
    margin-left: 40%;
    margin-top: 50px;
    text-transform: uppercase;
} 
h1{
    margin-left: 33%;
    margin-top: 20px;
}
.p2{
    margin-left: 30%;
    margin-top: 20px;
}   

.p3{
    margin-left: 43%;
    margin-top: 10px;
    margin-bottom: 40px;
}
.btn2{
    margin-left: 38%;
    margin-right: 20px;
    margin-bottom: 50px;
    background-color:#FFEA19;
    padding: 8px 28px;
    border-radius: 8px;
}

.btn3{
    background-color:#FFEA19;
    padding: 8px 28px;
    border-radius: 8px;
}
.section1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.s1{
    margin-left: 32%;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 23px;
}
.s2{
    margin-left: 15%;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 9px;
}
.s3{
    margin-left: 30%;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}
.s4{
    margin-left: 25%;
    font-weight: 300;
    font-size: 16px;
}
.load{
    margin-left: 45%;
    height: 100px;
    width: 100px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px;
    grid-gap: 0px;
    margin-left:50px;
    margin-bottom :50px;
}
  .grid_item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: center;
    
  }
  .grid_item img{
    
    margin-bottom:20px;
  }
  .grid_item{
      color: rgb(61, 57, 57);
  }

  .section2{
      margin-left: 130px;
      margin-right: 100px; 
      margin-bottom: 40px; 
  }
  .img2{
      float: right;
      height: 250px;
      width: 370px;
      
  }

  #head{
      text-transform: uppercase;
      font-weight: 300;      
      font-size: 28px;
      padding-bottom: 25px;
      padding-top: 50px;
  }
  #desc{
      color: rgb(65, 62, 62);     
      font-weight: 200;
      margin-bottom: 40px;
  }

  .feedback{
      background-color: #0e2736;     
      margin-left: 130px;
      margin-right: 100px; 
      margin-bottom: 40px;
  }
  .feedback button{
      float: right;
      margin-top: 40px;
      margin-right: 30px;
      background-color: rgb(47, 138, 190);
      border-radius: 8px;
      border: none;
      padding: 6px;
      color: white;
  }
  #heading{
      font-size: 30px;
      font-weight: 400;
      color: white;
      padding: 12px;
  }
  #description{
    font-size: 15px;
    font-weight: 200;
    color: white;
    padding-left: 12px;
    padding-bottom: 12px;
  }

  /* table css */
  .container-box {
   margin-left: 380px;
   margin-bottom: 40px;
  }
  table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  th,
  td {
    padding: 15px;
    background-color: white;
    color: rgb(63, 59, 59);
  }
  th {
    text-align: center;
  }
  thead th {
    background-color: rgb(47, 138, 190);
    color: white;
  }
  tbody tr{
      text-align: center;
  }
  tbody tr img{
      height: 24px;
      width: 24px;
  }
  tbody tr:hover {
    background-color: rgba(73, 171, 201, 0.911);
  }
  tbody td {
    position: relative;
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(73, 171, 201, 0.911);
    z-index: -1;
  }
  
  /*testtimonial*/
  .testimonials
{
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
h5{
    font-size: 30px;
}
.testimonial-inner
{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border
{
  width: 160px;
  height: 5px;
  background: rgba(73, 171, 201, 0.911);
  margin: 26px auto;
}

.row
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col
{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing:  border-box;
  padding: 15px;
}

.testimonial
{
  background: #fff;
  padding: 30px;
}

.testimonial img
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name
{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars
{
  color: #f0932b;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px)
{
  .col
  {
    flex: 100%;
    max-width: 80%;
  }
}

/*feature2*/
.boxn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
    grid-gap: 0px;
    margin-left:50px;
    margin-bottom :50px;
}
  .bx1 {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: center;
    color: #434343;
  }
  .bx1 img{
    
    margin-bottom:20px;
  }

  .copyright{
      text-transform: uppercase;
      background-color: #434343;
      color: white;
      height: 40px;
  }